.gradle
build.gradle
gradle.properties
/local.properties
/.idea/workspace.xml
/.idea/vcs.xml
/.idea/misc.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/src/main/libs
/app/src/main/obj/local
